// HEADERS {{{
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#include "shared.dtsi"

// }}}
// CONFIG {{{
/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };
};
// }}}
/ {
// KEYMAP {{{
// n.b. display-name strings are truncated after 8 characters
    keymap {
        compatible = "zmk,keymap";

        /* 0 Layer */
        default {
            display-name = "araxia";
            bindings = <
 &mirror_sl  &lttp WIN_LEFT Q  &kp W         &kp E              &kp R             &kp T                &kp Y            &kp U               &iI                 &kp O         &lttp WIN_RIGHT P  &mirror_sl
 &point_tog  &hrml LCTRL A     &hrml LGUI S  &hrml LALT D       &hrsl LSHIFT F    &hrml GLOBE G        &h_bs            &hrsr RSHIFT J      &hrmr RALT K        &hrmr RGUI L  &hrsq RCTRL 0      &point_tog
 &dis_tog    &kp Z             &kp X         &kp C              &kp V             &kp B                &kp N            &m_cr               &kp COMMA           &kp DOT       &kp FSLH           &dis_tog
                                             &mthp LGUI RETURN  &lthp LNUM LC(W)  &lthp SYMBOLS ESC    &lthp MEDIA ESC  &lttp NUMPAD SPACE  &lthp MIRROR COLON
            >;
        };

        /* 1 Layer */
        symbols {
            display-name = "symbols";
            bindings = <
&none  &kp COMMA  &kp AMPERSAND    &kp ASTERISK  &kp TILDE   &kp BACKSLASH     &kp LESS_THAN   &kp GREATER_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES  &none
&none  &kp DOT    &kp DOLLAR       &kp PERCENT   &kp CARET   &kp TAB           &kp MINUS       &kp EQUAL         &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SINGLE_QUOTE   &none
&none  &kp EQUAL  &kp EXCLAMATION  &kp AT        &kp POUND   &kp PIPE          &kp UNDERSCORE  &kp PLUS          &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp GRAVE          &none
                                   &trans        &trans      &trans            &trans          &trans            &trans
            >;
        };

        /* 2 Layer */
        lnum {
            display-name = "lnum";
            bindings = <
&none  &kp COMMA  &kp N7  &kp N8  &kp N9  &kp N0        &kp N0     &kp N9  &kp N8  &kp N7  &kp COMMA  &none
&none  &kp DOT    &kp N4  &kp N5  &kp N6  &kp COLON     &kp COLON  &kp N6  &kp N5  &kp N4  &kp DOT    &none
&none  &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp MINUS     &kp MINUS  &kp N3  &kp N2  &kp N1  &kp EQUAL  &none
                          &trans  &trans  &trans        &trans     &trans  &trans
            >;
        };

        /* 3 Layer */
        numpad {
            display-name = "numpad";
            bindings = <
&kp ASTERISK  &kp COMMA  &kp N7  &kp N8  &kp N9  &kp N0        &f2_menu     &f2_dock       &f2_status  &help_menu  &kp TAB         &f2_tool
&kp FSLH      &kp DOT    &kp N4  &kp N5  &kp N6  &kp COLON     &kp LEFT     &kp DOWN       &kp UP      &kp RIGHT   &kp RETURN      &none
&kp PLUS      &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp MINUS     &kp PAGE_UP  &kp PAGE_DOWN  &kp HOME    &kp END     &kp KP_NUMLOCK  &win_close
                                 &trans  &trans  &trans        &trans       &trans         &trans
            >;
        };

        /* 4 Layer */
        media {
            display-name = "media";
            bindings = <
&none  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5      &kp C_MUTE    &kp C_PREV    &kp C_PP      &kp C_NEXT    &kp C_BRI_UP  &none
&none  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10     &kp C_VOL_DN  &kp C_VOL_UP  &out OUT_TOG  &bt BT_CLR    &kp C_BRI_DN  &none
&none  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
                         &trans   &trans   &trans      &trans        &trans        &trans
            >;
        };

        /* 5 Layer */
        bluetooth {
            display-name = "bluetooth";
            bindings = <
&none  &none  &none  &none   &none    &none     &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3   &bt BT_DISC 4  &bootloader
&none  &none  &none  &none   &none    &none     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4   &none
&none  &none  &none  &none   &none    &none     &out OUT_USB  &out OUT_BLE  &bt BT_PRV    &bt BT_NXT      &bt BT_CLR     &none
                     &trans  &trans   &trans    &trans        &trans        &bt BT_CLR_ALL
            >;
        };

        /* 6 Layer */
        adjust {
            display-name = "adjust";
            bindings = <
&bootloader  &trans     &vim_exit_all  &none   &ss_win  &to DEFAULT      &ext_power EP_TOG  &none     &none     &tmux_oz  &tmux_paste  &none
&tab_tog     &zoom_in   &vim_save      &ss2c   &ss      &warpd_l         &tmux_pw           &tmux_pp  &tmux_np  &tmux_sw  &none        &none
&zoom_tog    &zoom_out  &vim_exit      &sss2c  &sss     &out OUT_USB     &tmux_nw           &tmux_ps  &tmux_ns  &none     &none        &none
                                       &none   &none    &trans           &trans             &none     &none
            >;
        };

        /* 7 Layer */
        /* Do not use this then-layer for regular layer switching */
        lighting {
            display-name = "lighting";
            bindings = <
&none   &trans  &rgb_ug RGB_TOG  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_COLOR_HSB(25,100,0)      &glo C  &glo N  &kp F18  &kp F17  &kp F16  &trans
&none   &none   &none            &rgb_ug RGB_SAI  &rgb_ug RGB_SAD  &rgb_ug RGB_COLOR_HSB(25,100,80)     &glo H  &glo Q  &kp F21  &kp F20  &kp F19  &none
&none   &none   &none            &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &rgb_ug RGB_COLOR_HSB(25,0,100)      &glo N  &none   &kp F24  &kp F23  &kp F22  &none
                                 &none            &none            &none                                &none   &none  &none
            >;
        };

        /* 8 Layer */
        discord {
            display-name = "discord";
            bindings = <
&none         &mo WIN_LEFT  &kp TAB   &kp UP      &kp PLUS   &dis_section_nav    &dis_tog       &dis_prev_server      &dis_next_server       &dis_pins       &mo WIN_RIGHT      &none
&none         &none         &kp LEFT  &kp DOWN    &kp RIGHT  &none               &kp PAGE_DOWN  &dis_down             &dis_up                &dis_prev_chan  &dis_next_chan     &none
&kple LG(TAB) &none         &kp HOME  &kp ESC     &kp END    &none               &kp PAGE_UP    &dis_prev_history     &dis_next_history      &none           &dis_next_mention  &kple LG(TAB)
                                      &kp RETURN  &none      &kple ESC           &kple ESC      &trans                &none
            >;
        };

        /* 9 Layer */
        pointer {
            display-name = "pointer";
            bindings = <
&none  &mo WIN_LEFT  &mkp LCLK        &fmmv MOVE_UP    &mkp RCLK         &msc SCRL_UP      &warpd_l        &warpd_t        &warpd_r      &none            &mo WIN_RIGHT   &warpd_t
&none  &none         &fmmv MOVE_LEFT  &fmmv MOVE_DOWN  &fmmv MOVE_RIGHT  &msc SCRL_DOWN    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &msc SCRL_UP    &warpd_l
&none  &none         &warpd_l         &warpd_t         &warpd_r          &none             &mkp LCLK       &mkp RCLK       &none         &none            &msc SCRL_DOWN  &warpd_r
                                      &trans           &trans            &kple ESC         &kple ESC       &trans          &trans


            >;
        };

        /* 10 Layer */
        mirror {
            display-name = "mirror";
            bindings = <
 &to DEFAULT  &lttp WIN_RIGHT P  &kp O         &iI                  &kp U               &kp Y              &kp T              &kp R             &kp E              &kp W         &lttp WIN_LEFT Q  &to DEFAULT
 &none        &hrsq RCTRL 0      &hrmr RGUI L  &hrmr RALT K         &hrsr RSHIFT J      &h_bs              &hrml GLOBE G      &hrsl LSHIFT F    &hrml LALT D       &hrml LGUI S  &hrml RCTRL A     &none
 &none        &kp FSLH           &kp DOT       &kp COMMA            &m_cr               &kp N              &kp B              &kp V             &kp C              &kp X         &kp Z             &none
                                               &lthp DEFAULT COLON  &lthp NUMPAD SPACE  &lthp MEDIA ESC    &lthp SYMBOLS ESC  &lthp LNUM LC(W)  &mthp LGUI RETURN
            >;
        };

        /* 11 Layer */
        window_left {
            display-name = "move [L]";
            bindings = <
&none        &trans       &forward    &backward    &tab_next   &tab_prev       &act Y  &act U  &act I          &act O             &act P         &none
&kp C_POWER  &win_quad    &win_next   &win_third   &win_half   &win_full       &act H  &act J  &act K          &act L             &act COLON     &none
&kp C_SLEEP  &kp C_POWER  &win_vquad  &win_vthird  &win_vhalf  &win_screen     &act N  &act M  &act LESS_THAN  &act GREATER_THAN  &act QUESTION  &none
                                      &none        &none       &none           &none   &none   &none
            >;
        };

        /* 12 Layer */
        window_right {
            display-name = "move [R]";
            bindings = <
&none  &act Q  &act W  &act E  &act R  &act T     &tab_prev    &tab_next   &backward    &forward    &trans       &none
&none  &act A  &act S  &act D  &act F  &act G     &win_full    &win_half   &win_third   &win_next   &win_quad    &kp C_POWER
&none  &act Z  &act X  &act C  &act V  &act B     &win_screen  &win_vhalf  &win_vthird  &win_vquad  &kp C_POWER  &kp C_SLEEP
                       &none   &none   &none      &none        &none       &none
            >;
        };


    };

};
// }}}
/* vim: set ft=dts: */
