// HEADERS {{{
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#include "shared.dtsi"
#include "planck_overrides.dtsi"

// }}}
/ {
// KEYMAP {{{
// n.b. display-name strings are truncated after 8 characters
    keymap {
        compatible = "zmk,keymap";

        /* 0 Layer */
        default {
            display-name = "araxia";
            bindings = <
&lttp 5 Q      &kp W         &kp E              &kp R           &kp T            &kp F1  &kp F2     &kp Y        &kp U           &kp I             &kp O         &lttp 6 P
&hrml LCTRL A  &hrml LGUI S  &hrml LALT D       &hrml LSHIFT F  &hrml GLOBE G    &kp F3  &kp F4     &h_bs        &hrmr RSHIFT J  &hrmr RALT K      &hrmr RGUI L  &hrmr RCTRL SEMICOLON
&kp Z          &kp X         &kp C              &kp V           &kp B            &kp F5  &kp F6     &kp N        &m_cr           &kp COMMA         &kp DOT       &kp FSLH
&kp F7         &kp F8        &mthp LGUI RETURN  &lthp 2 LC(W)   &lthp 1 ESC      &kp F9  &kp F10    &lthp 4 ESC  &lttp 3 SPACE   &mttp RGUI COLON  &kp F11       &kp F12
            >;
        };

        /* 1 Layer */
        symbols {
            display-name = "symbols";
            bindings = <
&kp COMMA  &kp AMPERSAND    &kp ASTERISK  &kp TILDE   &kp BACKSLASH     &trans  &trans    &kp LESS_THAN   &kp GREATER_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES
&kp DOT    &kp DOLLAR       &kp PERCENT   &kp CARET   &kp TAB           &trans  &trans    &kp MINUS       &kp EQUAL         &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SINGLE_QUOTE
&kp EQUAL  &kp EXCLAMATION  &kp AT        &kp POUND   &kp PIPE          &trans  &trans    &kp UNDERSCORE  &kp PLUS          &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp GRAVE
&trans     &trans           &trans        &trans      &trans            &trans  &trans    &trans          &trans            &trans                &trans                 &trans
            >;
        };

        /* 2 Layer */
        lnum {
            display-name = "lnum";
            bindings = <
&kp COMMA  &kp N7     &kp N8  &kp N9  &kp N0        &trans  &trans    &none   &none   &none   &none   &none
&kp DOT    &kp N4     &kp N5  &kp N6  &kp COLON     &trans  &trans    &none   &none   &none   &none   &kp GRAVE
&kp EQUAL  &kp N1     &kp N2  &kp N3  &kp MINUS     &trans  &trans    &none   &none   &none   &none   &trigrave
&trans     &trans     &trans  &trans  &trans        &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        /* 3 Layer */
        numpad {
            display-name = "numpad";
            bindings = <
&kp COMMA  &kp N7  &kp N8  &kp N9  &kp N0        &trans  &trans    &f2_menu     &f2_dock       &f2_status  &help_menu  &kp TAB
&kp DOT    &kp N4  &kp N5  &kp N6  &kp COLON     &trans  &trans    &kp LEFT     &kp DOWN       &kp UP      &kp RIGHT   &kp RETURN
&kp EQUAL  &kp N1  &kp N2  &kp N3  &kp MINUS     &trans  &trans    &kp PAGE_UP  &kp PAGE_DOWN  &kp HOME    &kp END     &kp KP_NUMLOCK
&trans     &trans  &trans  &trans  &trans        &trans  &trans    &trans       &trans         &trans      &trans      &trans
            >;
        };

        /* 4 Layer */
        media {
            display-name = "media";
            bindings = <
&kp F1   &kp F2     &kp F3   &kp F4   &kp F5      &trans  &trans    &kp C_MUTE    &kp C_PREV    &kp C_PP      &kp C_NEXT    &kp C_BRI_UP
&kp F6   &kp F7     &kp F8   &kp F9   &kp F10     &trans  &trans    &kp C_VOL_DN  &kp C_VOL_UP  &out OUT_TOG  &bt BT_CLR    &kp C_BRI_DN
&kp F11  &kp F12    &kp F13  &kp F14  &kp F15     &trans  &trans    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans   &trans     &trans   &trans   &trans      &trans  &trans    &trans        &trans        &trans        &trans        &trans      
            >;
        };

        /* 5 Layer */
        window_left {
            display-name = "move [L]";
            bindings = <
&trans       &forward    &backward    &tab_next   &tab_prev       &trans  &trans    &act Y  &act U  &act I          &act O             &act P
&win_quad    &win_next   &win_third   &win_half   &win_full       &trans  &trans    &act H  &act J  &act K          &act L             &act COLON
&kp C_POWER  &win_vquad  &win_vthird  &win_vhalf  &win_screen     &trans  &trans    &act N  &act M  &act LESS_THAN  &act GREATER_THAN  &act QUESTION
&trans       &trans      &trans       &trans      &trans          &trans  &trans    &trans  &trans  &trans          &trans             &trans
            >;
        };

        /* 6 Layer */
        window_right {
            display-name = "move [R]";
            bindings = <
&act Q  &act W  &act E  &act R  &act T     &trans  &trans    &tab_prev    &tab_next   &backward    &forward    &trans    
&act A  &act S  &act D  &act F  &act G     &trans  &trans    &win_full    &win_half   &win_third   &win_next   &win_quad
&act Z  &act X  &act C  &act V  &act B     &trans  &trans    &win_screen  &win_vhalf  &win_vthird  &win_vquad  &kp C_POWER
&trans  &trans  &trans  &trans  &trans     &trans  &trans    &trans       &trans      &trans       &trans      &trans
            >;
        };

        /* 7 Layer */
        /* Do not use this then-layer for regular layer switching */
        adjust {
            display-name = "adjust";
            bindings = <
&zoom_tog  &vim_exit_all  &none   &ss_win  &to 0            &trans  &trans    &ext_power EP_TOG  &bootloader  &none     &none     &none
&zoom_in   &vim_save      &ss2c   &ss      &warpd_l         &trans  &trans    &warpd_r           &warpd_j     &warpd_k  &tmux_pw  &tmux_ps
&zoom_out  &vim_exit      &sss2c  &sss     &out OUT_USB     &trans  &trans    &out OUT_BLE       &none        &none     &tmux_nw  &tmux_ns
&trans     &trans         &trans  &trans   &trans           &trans  &trans    &trans             &trans       &trans    &trans    &trans
            >;
        };

        /* 8 Layer */
        /* Do not use this then-layer for regular layer switching */
        lighting {
            display-name = "lighting";
            bindings = <
&none   &none   &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_COLOR_HSB(25,100,0)      &trans  &trans    &glo C  &glo N  &kp F18  &kp F17  &kp F16
&none   &none   &rgb_ug RGB_SAI  &rgb_ug RGB_SAD  &rgb_ug RGB_COLOR_HSB(25,100,80)     &trans  &trans    &glo H  &glo Q  &kp F21  &kp F20  &kp F19
&none   &none   &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &rgb_ug RGB_COLOR_HSB(25,0,100)      &trans  &trans    &glo N  &none   &kp F24  &kp F23  &kp F22
&trans  &trans  &trans           &trans           &trans                               &trans  &trans    &trans  &trans  &trans   &trans   &trans
            >;
        };

        /* 9 Layer */
        discord {
            display-name = "discord";
            bindings = <
&none   &kp TAB   &kp UP    &kp PLUS   &dis_tog    &trans  &trans    &dis_tog       &dis_prev_server      &dis_next_server       &dis_pins    &act N             &none
&none   &kp LEFT  &kp DOWN  &kp RIGHT  &none       &trans  &trans    &kp PAGE_DOWN  &dis_down             &dis_up                &kp PAGE_UP  &kp PAGE_DOWN      &act N
&none   &none     &none     &none      &none       &trans  &trans    &kp PAGE_UP    &dis_prev_history     &dis_next_history      &none        &dis_next_mention  &none
&trans  &trans    &trans    &trans     &dis_tog    &trans  &trans    &dis_tog       &trans                &trans                 &trans       &trans             &trans
            >;
        };

        /* 10 Layer */
        pointer {
            display-name = "pointer";
            bindings = <
&none   &mkp LCLK        &fmmv MOVE_UP    &mkp RCLK         &msc SCRL_UP      &trans  &trans    &none           &none           &none         &none            &none
&none   &fmmv MOVE_LEFT  &fmmv MOVE_DOWN  &fmmv MOVE_RIGHT  &msc SCRL_DOWN    &trans  &trans    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none
&none   &warpd_l         &warpd_t         &warpd_r          &none             &trans  &trans    &mkp LCLK       &mkp RCLK       &none         &none            &none
&trans  &trans           &trans           &trans            &trans            &trans  &trans    &trans          &trans          &trans        &trans           &trans   
            >;
        };

    };

};
// }}}
/* vim: set ft=dts: */
